# 1. Dictionary

In [4]:
d1 = {
    "K1":12,
    "K2":13
}
print(type(d1))
print(d1)
print(d1.values())
print(d1.keys())

<class 'dict'>
{'K1': 12, 'K2': 13}
dict_values([12, 13])
dict_keys(['K1', 'K2'])

## 1.1. Nested Dicionary Type 1

In [6]:
d2 = {
    "Name" : "Muhammad Bilal",
    "Age" : 22,
    "ID" : 58595,
    "d3" : {
        "Name" : "Hassan",
        "Age" : 22
    }
}

print(d2)

{'Name': 'Muhammad Bilal', 'Age': 22, 'ID': 58595, 'd3': {'Name': 'Hassan', 'Age': 22}}

## 1.1.1. Nested Dictionary Type 2

In [10]:
std1 = {
    "Name" : "Muhammad Bilal",
    "Age" : 22
}

std2 = {
    "Name" : "Muhammad Hassan Sajid",
    "Age" : 22
}

student_details = {
    "sd1" : std1,
    "std2" : std2
}
print(student_details)

{'sd1': {'Name': 'Muhammad Bilal', 'Age': 22}, 'std2': {'Name': 'Muhammad Hassan Sajid', 'Age': 22}}

## 1.2. Add and Update In Dictionary

In [15]:
d1 = {1:2 , 3:4}
d2 = {5:6 , 7:8}
d3 = {9:10 , 11:12}

dict_all = {
    "d1" : d1,
    "d2" : d2,
    "d3" : d3
}
print(dict_all)
d1["K3"]=14
print(d1)

d1.update({"K4":15})
print(d1)

d1["K3"]="NAME"
print(d1)

{'d1': {1: 2, 3: 4}, 'd2': {5: 6, 7: 8}, 'd3': {9: 10, 11: 12}}
{1: 2, 3: 4, 'K3': 14}
{1: 2, 3: 4, 'K3': 14, 'K4': 15}
{1: 2, 3: 4, 'K3': 'NAME', 'K4': 15}