# Lists

In [6]:
employee = [12,"Arham",30000]
dep_IT = [11,"IT Department", 3178956]
dep_CS = [10,"Computer Science Department", 3272563]

hod_IT = [13,"Azhar"]
hod_CS = [14, "Adnan"]

print("ID: %d , Name: %s , Salary: %d " %(employee[0],employee[1],employee[2]))
print("\nName Of Department: %s , Dep. ID: %d , Dep.Phone No# %d" %(dep_IT[1],dep_IT[0],dep_IT[2]))
print("\nName Of Department: %s , Dep. ID: %d , Dep.Phone No# %d" %(dep_CS[1],dep_CS[0],dep_CS[2]))
print("\nHOD Name: %s , HOD ID: %d" %(hod_CS[1],hod_CS[0]))
print("\nHOD Name: %s , HOD ID: %d" %(hod_IT[1],hod_IT[0]))

print(type(employee))

ID: 12 , Name: Arham , Salary: 30000

Name Of Department: IT Department , Dep. ID: 11 , Dep.Phone No# 3178956

Name Of Department: Computer Science Department , Dep. ID: 10 , Dep.Phone No# 3272563

HOD Name: Adnan , HOD ID: 14

HOD Name: Azhar , HOD ID: 13
<class 'list'>

In [10]:
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]
print(list1==list2)

False

# Slicing In List

In [38]:
list3 = [1,2,3,4,5,6,7,8,9,10]
print(list3[-1])
print(list3[1::2])
print(list3[0::2])
print(list3[-7:-2])

10
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[4, 5, 6, 7, 8]